<div class="center jumbotron">
  <div class="row">
Fuck, I dunno. Things.<br />
This app controls my lights (for now). It's basic and mostly just provides an api for an iOS app I'm working on to do this.
<br />
<%= frontmatter %>
  </div>
</div>
