<div class="center jumbotron">
  <h1>Locks</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Locked?</th>
      </tr>
    </thead>
    <tbody>
      <% @locks.each do |l| %>
      <tr>
        <td><%= l[:uuid] %></td>
        <td><%= l[:locked] ? "locked" : "unlocked" %></td>
        <td><a href="<%= l.id %>">Edit</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
